<div class="container">
	{{#power-select-multiple options=options selected=selectedOptions onchange=(action "onChange") as |option|}}
			{{option}}
	{{/power-select-multiple}}
	{{#power-select-multiple options=options selected=selectedOptions onchange=(action "onChange") as |option|}}
			{{option}}
	{{/power-select-multiple}}
	{{#power-select-multiple options=options selected=selectedOptions onchange=(action "onChange") as |option|}}
			{{option}}
	{{/power-select-multiple}}
	{{#power-select-multiple options=options selected=selectedOptions onchange=(action "onChange") as |option|}}
			{{option}}
	{{/power-select-multiple}}
	{{#power-select-multiple options=options selected=selectedOptions onchange=(action "onChange") as |option|}}
			{{option}}
	{{/power-select-multiple}}
</div>
